<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Memo </title>
	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" th:href="@{css/bootstrap.css}" rel="stylesheet">
	<!--external css-->
	<link href="../static/font-awesome/css/font-awesome.css" th:href="@{font-awesome/css/font-awesome.css}"
		rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet">
	<link href="../static/css/style-responsive.css" th:href="@{css/style-responsive.css}" rel="stylesheet">


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="lg">

	<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	<div id="login-page">
		<div class="container">

			<form class="form-login" th:action="@{/registration}" method="post" th:object="${user}">
				<h2 class="form-login-heading">sign up now</h2>
				<div class="login-wrap">
					<div th:if="${param.success}">
						<div class="alert alert-info"> You've successfully registered tou our app !</div>
					</div>
					<input  class="form-control" th:field="*{firstName}" placeholder="First name" required
						autofocus="autofocus" />
					<br>
					<input  class="form-control" th:field="*{lastName}" placeholder="First name" required autofocus="autofocus" />
					<br>
					<input type="email" class="form-control" th:field="*{email}" placeholder="Email" required>
					<br>
					<input type="password" class="form-control" th:field="*{password}" placeholder="Password" required>
					<br>
					<button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
					<hr>

					<div class="login-social-link centered">
						<p>or you can sign in via your social network</p>
						<button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
						<button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
					</div>
					<div class="registration">
						Already have account yet?<br />
						<a  th:href="@{/login}">Login here</a>
					</div>

				</div>

				<!-- Modal -->
				<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
					class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title">Forgot Password ?</h4>
							</div>
							<div class="modal-body">
								<p>Enter your e-mail address below to reset your password.</p>
								<input type="text" name="email" placeholder="Email" autocomplete="off"
									class="form-control placeholder-no-fix">

							</div>
							<div class="modal-footer">
								<button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
								<button class="btn btn-theme" type="button">Submit</button>
							</div>
						</div>
					</div>
				</div>
				<!-- modal -->

			</form>

		</div>
	</div>

	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{js/jquery.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>

	<!--BACKSTRETCH-->
	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->



</body>

</html>